#moveElem {
  color:#9d9d9d;
  font-size: 2rem;
  text-align: center;
}

button {
  border:none;
  background: white;
  box-shadow: 0 1px 5px 1px black;
  margin-top:2vh;
  padding: 1vh 0;
  width:100vw;
}