#overlay {
  background: #314658;
  color:white;
  font-size: 5rem;
  text-align: center;
  width:100vw;
  height:100vh;
  position: absolute;
  opacity:0;
  display:grid;
  align-content: center;
  justify-content: center;
}