html, body{
  width:100vw;
  height:100vh;
  margin:0;
  display: grid;
  align-content: center;
  align-items: center;
  justify-content: center;
}

body {
  background: linear-gradient(-45deg, hsl(0,50%,50%),hsl(27,50%,50%));
  background-size: 150%;
  background-position: -50vw -50vh;
}